<% content_for :titlebar do %>
  <h2 style="color:white">Dashboard</h2>
<% end %>

<% if flash[:success] %>
    <div class="alert alert-success" role="alert">
    <%= flash[:success] %>
    </div>
<% end %>

<div class="row">
  <%= render :partial => "weights/latest", :locals => { :latest_weight => @profile.latest_weight } %>
  <%= render :partial => "heights/latest", :locals => { :latest_height => @profile.latest_height } %>
  <%= render :partial => "pressures/latest", :locals => { :latest_pressure => @profile.latest_pressure } %>
  <%= render :partial => "widgets/bmi", :locals => { :bmi => @profile.bmi } %>
</div>
