<!-- TODO: Esta página é apenas temporária: quando a autenticação estiver implementada, será removida -->
<h1>Weights</h1>


<% if flash[:success] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:success] %>
  </div>
<% end %>

<%= link_to 'Add weight', new_profile_weight_path(profile_email: @profile.email) %>

<table class="table">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Value</th>
    <th scope="col">Date</th>
    <th></th>
  </tr>
 
  <% @weights.each do |weight| %>
    <tr>
      <td><%= weight.id %></td>
      <td><%= weight.value %></td>
      <td><%= weight.date %></td>
    </tr>
  <% end %>



  
</table>
