<h2>Register your weight</h2>

<% if flash[:success] %>
      <div class="alert alert-success" role="alert">
	    <%= flash[:success] %>
      </div>
<% end %>


<%= form_with scope: :weight, local: true, url: profile_weights_path(profile_email: @profile.email) do |form| %>
<div class="form-horizontal">

    <div class="form-group">
        <%= form.label :value %>
	<% if @weight and @weight.errors.messages[:value] %>
	      <div class="text-danger small">
	          <%= @weight.errors.messages[:value].to_sentence %>
	      </div>
	<% end %>
	<%= form.text_field :value, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= form.label :date %>
        <% if @weight and @weight.errors.messages[:date] %>
	      <div class="text-danger small">
	          <%= @weight.errors.messages[:date].to_sentence %>
	      </div>
	<% end %>
        <%= form.date_field :date, class: "form-control" %>
    </div>

    <%= form.submit "Add Weight", class: "btn btn-success" %>	

</div>

<% end %>
