<% content_for :titlebar do %>
  <h2 style="color:white">Emergency Contacts</h2>
<% end %>




<% if flash[:success] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:success] %>
  </div>
<% end %>
 
<table class="table table-striped">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">E-mail</th>
    <th scope="col">Name</th>
    <th scope="col">Phone</th>
	<th scope="col">Mobile</th>
    <th scope="col"></th>
  </tr>
 
  <% @contacts.each do |contact| %>
    <tr>
	  <td><%= contact.id %></td>
      <td><%= contact.email %></td>
      <td><%= contact.name %></td>
      <td><%= contact.phone %></td>
	  <td><%= contact.mobile %></td>
      <td>
	    <%= link_to "Edit", edit_profile_contact_path(profile_email: @profile.email, id: contact.id), class: "btn btn-sm btn-primary" %> | 
	     <%= link_to "Delete", profile_contact_path(profile_email: @profile.email, id: contact.id), 
	     method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
	  </td>
  </tr>
  <% end %>
  
</table>
<%= link_to "Add Emergency Contact", new_profile_contact_path(profile_email: @profile.email), class: "btn btn-sm btn-success" %>
