<% content_for :titlebar do %>
  <h2 style="color:white">New Emergency Contact</h2>
<% end %>

<% if flash[:success] %>
      <div class="alert alert-success" role="alert">
	    <%= flash[:success] %>
      </div>
<% end %>

<%= form_with scope: :contact, local: true, url: profile_contacts_path(profile_email: @profile.email) do |form| %>
<div class="form-horizontal">

    <div class="form-group">
        <%= form.label :Email %>
	<% if @contact and @contact.errors.messages[:email] %>
	      <div class="text-danger small">
	          <%= @contact.errors.messages[:email].to_sentence %>
	      </div>
	<% end %>
	<%= form.email_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= form.label :Name %>
        <% if @contact and @contact.errors.messages[:name] %>
	      <div class="text-danger small">
	          <%= @contact.errors.messages[:name].to_sentence %>
	      </div>
	<% end %>
	<%= form.text_field :name, class: "form-control" %>
    </div>
    
    <div class="form-group">
        <%= form.label :Phone %>
        <% if @contact and @contact.errors.messages[:phone] %>
	      <div class="text-danger small">
	          <%= @contact.errors.messages[:phone].to_sentence %>
	      </div>
	<% end %>
        <%= form.text_field :phone, class: "form-control" %>
    </div>
    
    <div class="form-group">
        <%= form.label :Mobile %>
        <% if @contact and @contact.errors.messages[:mobile] %>
	      <div class="text-danger small">
	          <%= @contact.errors.messages[:mobile].to_sentence %>
	      </div>
	<% end %>
        <%= form.text_field :mobile, class: "form-control" %>
    </div>
    
    <%= form.submit "Save Contact", class: "btn btn-success" %>
	<%= link_to 'Cancel', profile_contacts_path(profile_email: @profile.email), class: "btn btn-danger" %>

</div>

<% end %>