<h2>New Pressure</h2>

<% if flash[:success] %>
      <div class="alert alert-success" role="alert">
	    <%= flash[:success] %>
      </div>
<% end %>

<%= form_with scope: :pressure, url: profile_pressures_path, local: true do |form| %>

<div class="form-group">
    <%= form.label :Systolic %>
  <% if @pressure and @pressure.errors.messages[:systolic] %>
  <div class="text-danger small">
      <%= @pressure.errors.messages[:systolic].to_sentence %>
  </div>
<% end %>
  <%= form.number_field :systolic, class: "col-sm-1" %>
</div>

<div class="form-group">
    <%= form.label :Diastolic %>
    <% if @pressure and @pressure.errors.messages[:diastolic] %>
      <div class="text-danger small">
          <%= @pressure.errors.messages[:diastolic].to_sentence %>
      </div>
    <% end %>
    <%= form.number_field :diastolic, class: "col-sm-1"  %>
</div>

<div class="form-group">
    <%= form.label :Date %>
    <% if @pressure and @pressure.errors.messages[:date] %>
    <div class="text-danger small">
        <%= @pressure.errors.messages[:date].to_sentence %>
    </div>
    <% end %>
    <%= form.datetime_select :date, class: "form-control" %>
</div>

  <p>
    <%= form.submit "Save", class: "btn btn-success"  %>
  </p>
<% end %>
