<!-- TODO: Esta página é apenas temporária: quando a autenticação estiver implementada, será removida -->
<h1>Heights</h1>

<% if flash[:success] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:success] %>
  </div>
<% end %>

<%= link_to 'Add height', new_profile_height_path(profile_email: @profile.email) %>

<table class="table">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Value</th>
    <th scope="col">Date</th>
    <th></th>
  </tr>
 
  <% @heights.each do |height| %>
    <tr>
      <td><%= height.id %></td>
      <td><%= height.value %></td>
      <td><%= height.date %></td>
      <td> 
        <%= link_to "Edit", edit_profile_height_path(profile_email: @profile.email, id: height.id) %> |
        <%= link_to "Delete", edit_profile_height_path(profile_email: @profile.email, id: height.id), 
            method: :delete, data: { confirm: 'Are you sure?' } %> 
      </td>
    </tr>
  <% end %>
  
</table>
