<% content_for :titlebar do %>
  <h2 style="color:white">Non-HDL Cholesterol</h2>
<% end %>


<% if flash[:success] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:success] %>
  </div>
<% end %>

<table class="table table-striped">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Value</th>
    <th scope="col">Date</th>
    <th scope="col"></th>
  </tr>
 
  <% @nonhdls.each do |non_hdl| %>
    <tr>
      <td><%= non_hdl.id %></td>
      <td><%= non_hdl.value %></td>
      <td><%= non_hdl.date %></td>
      <td>
        <%= link_to "Edit", edit_profile_nonhdl_path(profile_email: @profile.email, id: non_hdl.id), class: "btn btn-sm btn-primary" %> |  
        <%= link_to "Delete", profile_nonhdl_path(profile_email: @profile.email, id: non_hdl.id), 
            method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %> 
        </td>
    </tr>
  <% end %>
  
</table>

<%= link_to 'Add Non-HDL Cholesterol', new_profile_nonhdl_path(profile_email: @profile.email),  class: "btn btn-sm btn-success"  %>
