<% content_for :titlebar do %>
  <h2 style="color:white">Allergy - <%= @allergy.name %></h2>
<% end %>

<% if flash[:success] %>
      <div class="alert alert-success" role="alert">
	    <%= flash[:success] %>
      </div>
<% end %>

<%= form_with model: @allergy, local: true, url: profile_allergy_path(profile_email: @profile.email) do |form| %>
<div class="form-horizontal">

    <div class="form-group">
        <%= form.label :Name %>
	<% if @allergy and @allergy.errors.messages[:name] %>
	      <div class="text-danger small">
	          <%= @allergy.errors.messages[:name].to_sentence %>
	      </div>
	<% end %>
	<%= form.text_field :name, class: "form-control" %>
    </div>

	<div class="form-group">
        <%= form.label :Cause %>
	<% if @allergy and @allergy.errors.messages[:cause] %>
	      <div class="text-danger small">
	          <%= @allergy.errors.messages[:cause].to_sentence %>
	      </div>
	<% end %>
	<%= form.text_field :cause, class: "form-control" %>
    </div>
	
	<div class="form-group">
        <%= form.label :Allergen %>
	<% if @allergy and @allergy.errors.messages[:allergen] %>
	      <div class="text-danger small">
	          <%= @allergy.errors.messages[:allergen].to_sentence %>
	      </div>
	<% end %>
	<%= form.text_field :allergen, class: "form-control" %>
    </div>
	
    <div class="form-group">
        <%= form.label :known_reaction %>
	<% if @allergy and @allergy.errors.messages[:known_reaction] %>
	      <div class="text-danger small">
	          <%= @allergy.errors.messages[:known_reaction].to_sentence %>
	      </div>
	<% end %>
	<%= form.text_field :known_reaction, class: "form-control" %>
    </div>
	
    <div class="form-group">
        <%= form.label :Description %>
    <% if @allergy and @allergy.errors.messages[:description] %>
	      <div class="text-danger small">
	          <%= @allergy.errors.messages[:description].to_sentence %>
	      </div>
	<% end %>
	<%= form.text_area :description, class: "form-control" %>
    </div>
    
	<div class="form-group">
        <%= form.label :start %>
    <% if @allergy and @allergy.errors.messages[:start] %>
	      <div class="text-danger small">
	          <%= @allergy.errors.messages[:start].to_sentence %>
	      </div>
	<% end %>
        <%= form.date_field :start, class: "form-control" %>
    </div>	

    <div class="form-group">
        <%= form.label :finish %>
    <% if @allergy and @allergy.errors.messages[:finish] %>
	      <div class="text-danger small">
	          <%= @allergy.errors.messages[:finish].to_sentence %>
	      </div>
	<% end %>
        <%= form.date_field :finish, class: "form-control" %>
    </div>
	
    <%= form.submit "Save Allergy", class: "btn btn-success" %>
	<%= link_to 'Cancel', profile_allergies_path(profile_email: @profile.email), class: "btn btn-danger" %>

</div>

<% end %>